
html, body, .page-wrapper {
    height: 100%;
    width: 100%;
    font-family: 'Georgia', serif;
}

.page-wrapper {
    overflow: auto;
}

body {
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Trebuchet MS', sans-serif;
}

.submit-paper
input, textarea {
    margin-bottom: 10px;
}


.wrapper {
    display: flex;
}
.sidebar {
    flex: 0 0 auto;
    background: #d3d3d3;
    overflow: auto;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    flex: 1 0 auto;
}





.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(95,95,95); /* Black fallback color */
    background-color: rgba(95,95,95, 0.6); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
