<style>
    #messages {
        height: 200px;
        overflow-y: scroll;
    }
</style>
<div>
    <a ng-click="logout()" class="pull-right btn btn-primary btn-outline btn-rounded">Logout</a>
    <a ui-sref="inside.group-my" class="pull-right btn btn-primary btn-outline btn-rounded">My Groups</a>
    <a ui-sref="inside.home" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
    <br/>
    <h2>CollablAll
        <small>Meet Now</small>
        <small>
            <br>Group: {{group.Name}}
            <br>Team: <span ng-repeat="user in groupMembers">{{user.Email}}{{$last ? '' : ', '}}</span>
            <br><h5>Current Card: {{currentCard}} | Communicating: {{currentCommunicating}}</h5>
        </small>
    </h2>
    <!--<span class="fa fa-smile-o bg-fade" aria-hidden="true"></span>-->
    <div class="jumbotron">
        <div class="container">
            <p>
            <div id="messages">
                <div class="message" ng-repeat="message in messages">
                    <img class="img-circle" style="width:40px;margin:2px;" ng-src='{{message.userAvatar}}'>
                    <i ng-if="message.userAvatar.length == 0">{{message.user}}</i>
                    <small> >></small>

                    <span ng-if="message.body.includes() !== undefined &&  message.body.includes('Discussing:')">
                        <i  style="opacity: 1;width: 40px;margin: 2px;"
                            class='fa fa-window-maximize fa-lg btn btn-default'
                            aria-hidden='true' disabled></i>
                        {{message.body}}
                    </span>

                    <span ng-if="message.body != 'Discussing:'">
                        <i style="opacity: 1;width: 40px;margin: 2px;  background: {{message.body.BackgroundColor}}; color: {{message.body.TextColor}}"
                            class='{{message.body.Icon}} fa-lg btn' aria-hidden='true' disabled></i>
                        {{message.body.Title}}
                    </span>

                </div>
                <a id="bottom"></a><br><br><br>
            </div>
            </p>
            <div class="row" ng-repeat="interjection in groupInterjections track by $index" ng-if="$index%4==0">
                <div class="col-lg-3 col-md-12 col-sm-12 letter-box"
                     ng-repeat="i in [$index,$index+1,$index+2,$index+3]"
                     ng-if="groupInterjections[i]!=null">
                    <button class="btn btn-block" id="interjectionButton{{groupInterjections[i].ID}}"
                            name="interjectionButton{{groupInterjections[i].ID}}" type="button"
                            style="margin: 5px; background: {{groupInterjections[i].BackgroundColor}}; color: {{groupInterjections[i].TextColor}}"
                            ng-click="issueInterjection(groupInterjections[i])">
                        <i class="{{groupInterjections[i].Icon}} fa-2x" aria-hidden="true"></i><br>
                        {{groupInterjections[i].Title}}
                    </button>
                </div>
                <!--
                <div class="col-lg-3 col-md-12 col-sm-12" ng-repeat="interjection in groupInterjections">
                    <button class="btn btn-block" id="interjectionButton{{interjection.ID}}"
                            name="interjectionButton{{interjection.ID}}" type="button"
                            style="margin: 5px; background: {{interjection.BackgroundColor}}; color: {{interjection.TextColor}}"
                            ng-click="issueInterjection(interjection)">
                        <i class="{{interjection.Icon}} fa-2x" aria-hidden="true"></i><br>
                        {{interjection.Title}}
                    </button>
                </div>
                -->

                <!--
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <button class="btn btn-success btn-block" style="margin: 5px" ng-click="communicate()"><i
                            class="fa fa-microphone fa-2x" aria-hidden="true"></i><br>Communicate
                    </button>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12">
                    <button class="btn btn-info btn-block" style="margin: 5px" ng-click="interject('1')"><i
                            class="fa fa-stop fa-2x" aria-hidden="true"></i><br>Slow Down!
                    </button>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12">
                    <button class="btn btn-warning btn-block" style="margin: 5px" ng-click="interject('2')"><i
                            class="fa fa-question fa-2x" aria-hidden="true"></i><br>Question!
                    </button>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12">
                    <button class="btn btn-primary btn-block" style="margin: 5px" ng-click="interject('3')"><i
                            class="fa fa-repeat fa-2x" aria-hidden="true"></i><br>Repeat!
                    </button>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <button class="btn btn-danger btn-block" style="margin: 5px" ng-click="interject('4')"><i
                            class="fa fa-exclamation fa-2x" aria-hidden="true"></i><br>Don't Understand!
                    </button>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">Group Cards</div>
                <div class="panel-body">
                    <div class="thumbnail" ng-repeat="card in groupCards">
                        <div class="caption">
                            <h3>{{card.Title}}</h3>
                            <p>{{card.Description}}</p>
                            <p><i>Owner: {{card.user.Email}}</i></p>
                            <p>
                                <button class="btn btn-primary btn-block" ng-click="newCard(card.ID)">Discuss</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">Current Card: {{currentCard}}</div>
            </div>
        </div>
        <!--
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">Actions</div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <div class="caption">
                            <p><button class="btn btn-success btn-block" ng-click="communicate()">Communicate</button></p>
                            <p><button class="btn btn-info btn-block" ng-click="interject('1')">Slow Down!</button></p>
                            <p><button class="btn btn-warning btn-block" ng-click="interject('2')">Question!</button></p>
                            <p><button class="btn btn-info btn-block" ng-click="interject('3')">Repeat!</button></p>
                            <p><button class="btn btn-warning btn-block" ng-click="interject('4')">Don't Understand!</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>

<!--

<div class="row">
    {{deviceOrientation.alpha}} ; {{deviceOrientation.beta}} ; {{deviceOrientation.gamma}}
    <div style="white-space: pre-line">

     {{stream}}

    </div>
</div>

-->