<!-- Loading Screen Overlay -->
<div class="overlay" id="overlayScreen">
    <div class="overlay-content">Processing...Please Wait...<br/><br/><img src="../img/loading.gif"/></div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div>
            {{stream}}
        </div>

        <input id="mo" name="mo" ng-model="deviceMotion" type="text" placeholder="" class="form-control input-md" >
        <input id="ma" name="ma" ng-model="deviceOrientation" type="text" placeholder="" class="form-control input-md" >

    </div>
</div>

