<style>
    .row.grid:nth-child(1) {
        background: lavenderblush;
    }

    .row.grid:nth-child(even) {
        background: lavender;
    }
</style>

<div>
    <a ng-click="logout()" class="pull-right btn btn-primary btn-outline btn-rounded">Logout</a>
    <a ui-sref="inside.group-my" class="pull-right btn btn-primary btn-outline btn-rounded">My Groups</a>
    <a ui-sref="inside.home" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
    <br/>
    <h2>CollabAll
        <small>My Groups</small>
    </h2>
    <!--<span class="fa fa-users bg-fade" aria-hidden="true"></span>-->
    <div class="jumbotron">
        <div class="container">
            <span ng-if="myGroups.length >= 1">
                <div class="row grid table-bordered">
                    <div class="col-sm-3" style="background: burlywood">ID</div>
                    <div class="col-sm-3" style="background: burlywood">Group Name</div>
                    <div class="col-sm-3" style="background: burlywood">Created On</div>
                    <div class="col-sm-3" style="background: burlywood">Action</div>
                </div>

                <div class="row grid table-bordered" ng-repeat="group in myGroups">
                    <div class="col-sm-3">{{group.group.ID}}</div>
                    <div class="col-sm-3">{{group.group.Name}}</div>
                    <div class="col-sm-3">{{group.group.createdAt | date:'medium'}}</div>

                    <div class="col-sm-3">
                        <a alt="Update Members" href="/manage-group/{{group.group.ID}}" class="btn btn-md btn-default"><span class="fa fa-users"></span>&nbsp;</a>
                        <a alt="Update Card" href="/group/{{group.group.ID}}/cards" class="btn btn-md btn-default"><span class="fa fa-window-restore"></span>&nbsp;</a>
                        <a alt="Meet Now" href="/group/{{group.group.ID}}/chat" class="btn btn-md btn-default"><span class="fa fa-comments"></span>&nbsp;</a>
                        <a alt="Delete Group" ng-click="deleteGroup(group)" href="#" class="btn btn-md btn-default"><span class="fa fa-trash"></span>&nbsp;</a>
                    </div>
                </div>
            </span>

            <span ng-if="myGroups.length == 0">
                No Groups Available for {{contactAuthor}}.<br>
            </span>
            <br/>

            <a  class="btn btn-primary" ui-sref="inside.group-manage">Create A Group</a>

        </div>
    </div>
</div>
<!--
<p ng-if="loadingGroups">Loading Groups...</p>


<span ng-if="myGroups.length >= 1">
    <div class="row grid table-bordered">
        <div class="col-sm-3" style="background: burlywood">ID</div>
        <div class="col-sm-3" style="background: burlywood">Name</div>
        <div class="col-sm-3" style="background: burlywood">Created On</div>
        <div class="col-sm-3" style="background: burlywood">Action</div>
    </div>

    <div class="row grid table-bordered" ng-repeat="group in myGroups">
        <div class="col-sm-3">{{group.group.ID}}</div>
        <div class="col-sm-3">{{group.group.Name}}</div>
        <div class="col-sm-3">{{group.group.createdAt | date:'medium'}}</div>

        <div class="col-sm-3">
                <a href="/manage-group/{{group.group.ID}}" class="btn btn-sm btn-default">Update Members</a>
                <a href="/group/{{group.group.ID}}/cards" class="btn btn-sm btn-default">Update Cards</a>
                <a href="/group/{{group.group.ID}}/chat" class="btn btn-sm btn-default">Meet Now</a>
        </div>
    </div>
</span>

<span ng-if="myGroups.length == 0">
    No Groups Available for {{contactAuthor}}.<br>
</span>
<br/>

<a class="btn btn-primary" ui-sref="inside.group-manage">Create Group</a>
-->
