<div>
    <a href="mailto:axp6201@rit.edu" class="pull-right btn btn-primary btn-outline btn-rounded">Feedback!</a>
    <a ui-sref="inside.group-my" class="pull-right btn btn-primary btn-outline btn-rounded">My Groups</a>
    <a ui-sref="inside.home" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
    <br/>
    <h2>Meet Now
        <small>
            <br>Group: {{group.Name}}
            <br>Team: <span ng-repeat="user in groupMembers">{{user.Email}}{{$last ? '' : ', '}}</span>
        </small>
    </h2>
    <!--<span class="fa fa-smile-o bg-fade" aria-hidden="true"></span>-->
    <div class="jumbotron">
        <div class="container">
            <p>
            <ul>
                <li  ng-repeat="card in groupCards" >{{card.Title}}</li>
            </ul>
            </p>
        </div>
    </div>
</div>

<!--

<div class="row">
    {{deviceOrientation.alpha}} ; {{deviceOrientation.beta}} ; {{deviceOrientation.gamma}}
    <div style="white-space: pre-line">

     {{stream}}

    </div>
</div>

-->