<div>
    <a ng-click="logout()" class="pull-right btn btn-primary btn-outline btn-rounded">Logout</a>
    <a ui-sref="inside.group-my" class="pull-right btn btn-primary btn-outline btn-rounded">My Groups</a>
    <a ui-sref="inside.home" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
    <br/>
    <h2>CollabAll <small>TODO: enter some catchy text here</small></h2>
    <!--<span class="fa fa-smile-o bg-fade" aria-hidden="true"></span>-->
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1>
            This is the home page!<br /><br />
            <p>
               <!-- <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>-->
            </p>
        </div>
    </div>
    <a href="mailto:axp6201@rit.edu" class="pull-right btn btn-primary btn-outline btn-rounded">Feedback!</a>
</div>


<!--
<div>

    <h2>Home</h2>

    <p>Welcome! This is the homepage!</p>

    <a ui-sref="inside.group-manage">Create a Group</a>
    <a ui-sref="inside.group-my">My Groups</a>


    <button ng-click="dowork()">Do Work</button>

</div>
-->