<div>
    <a ng-click="logout()" class="pull-right btn btn-primary btn-outline btn-rounded">Logout</a>
    <a ui-sref="inside.group-my" class="pull-right btn btn-primary btn-outline btn-rounded">My Groups</a>
    <a ui-sref="inside.home" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
    <br/>

    <h2>CollabAll
        <small>Group Interjection</small>
    </h2>
    <!--<span class="fa fa-window-restore bg-fade" aria-hidden="true"></span>-->
    <div class="jumbotron">
        <div class="container">
            <div>
                <form ng-submit="saveInterjection()" class="ng-pristine ng-valid">
                    <div class="form-content">
                        <div class="form-group">
                            <label for="interjectionTitle">Interjection Title</label>
                            <input type="text" class="form-control input-lg" ng-model="interjectionTitle"
                                   id="interjectionTitle"
                                   placeholder="Title" required>
                        </div>

                        <div class="form-group">
                            <label for="interjectionDescription">Interjection Description</label>
                            <textarea id="interjectionDescription" name="interjectionDescription"
                                      class="form-control input-lg"
                                      ng-model="interjectionDescription" placeholder="Description" style="height:150px"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="captionist">Associate With Captionist Role</label>
                            <input type="checkbox" id="captionist" name="captionist" ng-model="interjectionCaptionist" ng-checked="interjectionCaptionist">
                        </div>

                        <div class="form-group">
                            <label for="interpreter">Associate With Interpreter Role</label>
                            <input type="checkbox" id="interpreter" name="interpreter" ng-model="interjectionInterpreter" ng-checked="interjectionInterpreter">
                        </div>

                        <div class="form-group">
                            <label for="interjectionColorBackground">Interjection Button Background Color</label>
                            <button style="background: {{nonInput.interjectionBackgroundColor}}" colorpicker
                                    type="button" colorpicker-position="top"
                                    ng-model="nonInput.interjectionBackgroundColor" id="interjectionColorBackground" name="interjectionColorBackground">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>
                            <!--
                            <input class="form-control input" style="background: {{hexPicker.color}}" colorpicker ng-model="hexPicker.color" type="text" readonly id="interjectionColor" name="interjectionColor">
                            -->
                        </div>

                        <div class="form-group">
                            <label for="interjectionColorForeground">Interjection Button Foreground (Text) Color</label>
                            <button style="background: {{nonInput.interjectioTextColor}}" colorpicker
                                    type="button" colorpicker-position="top"
                                    ng-model="nonInput.interjectioTextColor" id="interjectionColorForeground" name="interjectionColorForeground">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>

                        <div class="form-group">
                            <label for="interjectionIcon">Interjection Icon</label>
                            <ui-iconpicker ng-model="interjectionIcon" onclick="this.classList.toggle('open');"
                                           id="interjectionIcon" name="interjectionIcon"></ui-iconpicker>
                            <!-- <input class="form-control" type="text" ng-model="iconClass"/> -->
                        </div>

                        <div class="form-group">
                            <label for="interjectionButtonPreview">Button Preview</label>
                            <button class="btn btn-block"  id="interjectionButtonPreview" name="interjectionButtonPreview" type="button"  style="margin: 5px; background: {{nonInput.interjectionBackgroundColor}}; color: {{nonInput.interjectioTextColor}}">
                                <i class="{{interjectionIcon}} fa-2x" aria-hidden="true"></i><br>
                                {{interjectionTitle}}
                            </button>
                        </div>


                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div>
                                <button type="submit" class="btn btn-primary">Save</button>
                                &nbsp;
                                <a ui-sref="inside.group-my" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <div>{{ status }}</div>
            </div>

        </div>
    </div>
</div>
