<div>
    <a href="mailto:axp6201@rit.edu" class="pull-right btn btn-primary btn-outline btn-rounded">Feedback!</a>
    <a ui-sref="inside.group-my" class="pull-right btn btn-primary btn-outline btn-rounded">My Groups</a>
    <a ui-sref="inside.home" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
    <br/>

    <h2>Password Reset
        <small>TODO: enter some catchy text here</small>
    </h2>
    <!--<span class="fa fa-window-restore bg-fade" aria-hidden="true"></span>-->
    <div class="jumbotron">
        <div class="container">
            <div>
                <form ng-submit="resetPassword()" class="ng-pristine ng-valid">
                    <div class="form-content">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control input-lg" ng-model="password" id="password" placeholder="New Password" required>
                        </div>

                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" class="form-control input-lg" ng-model="password2" id="password2" placeholder="Confirm Password" required>
                        </div>

                        <div class="form-group" ng-repeat="error in validation">
                            <label class="control-label">{{error}}</label>
                        </div>

                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div>
                                <button type="submit" class="btn btn-primary">Save</button>
                                &nbsp;
                                <a ui-sref="inside.my-profile" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <div>{{ status }}</div>
            </div>

        </div>
    </div>
</div>
